<div class="after-footer"></div>
<footer id="player" class="alaire">
	<img src="" class="mini_cover">
	<i class="material-icons mini_cover">album</i>
	<div class="audio-title">
		<div class="showname">{{radio.title}} {{radio.duration}}</div>
		{{!-- <div class="breadcrumbs">Hunting » Fishlights » Serpientes EP</div> --}}
		<div class="breadcrumbs">
			<span id="insert_title" class="insert_here"></span>
			<span id="insert_artist" class="insert_here"></span>
			<span id="insert_album" class="insert_here"></span>
		</div>
	</div>
	<a id="pause_player" >
		<i class="material-icons controls playing hidden">pause</i>
	</a>
	<a id="resume_player" >
		<i class="material-icons controls paused hidden">play_arrow</i>
	</a>
	
</footer>