<div class="overscreen" style="display:none">
<div class="fitted"></div>
	<nav class="menu">
		<div class="header">
			<a href="#">
				<div class="profile-img">
					{{# me.profile_pic}}
						<img src="{{.}}">
					{{/ me.profile_pic}}

					{{^ me.profile_pic}}
						<img src="images/menu1.png">
					{{/ me.profile_pic}}
				</div>
				<div class="profile-name">Hola {{me.first_name}} {{me.last_name}}</div>
			</a>
		</div>
		{{!-- <a class="menu-btn" href="#">Escuchando Ahora</a> --}}
		<a class="menu-btn hook home">Inicio</a>
		<a class="menu-btn hook recent">Lo Último</a>
		<a class="menu-btn hook podcast">Podcast</a>
		<a class="menu-btn hook authors">Autores</a>
		<a class="menu-btn" id="logout">Salir</a>
	</nav>
</div>