

{{> header}}
{{> sidemenu}}

<article class="column_page">
	
	<img class="head_image" src="{{data.thumb_url}}">
	<h1>{{data.title}}</h1>
	<div class="clearfix"></div>
	<section class="content clearfix">
		<h3>Por: {{data.author}}</h3>
		{{{data.content}}}
	</section>
</article>