	{{>header}}

	<header class="white-bar no-shade">
		<div class="toolbar">
			<h2 class="titulo">LOGIN</h2>
		</div>
	</header>
	<section class="login first-section">
		<img src="images/login.svg">
		<form id="login_form">
			<input type="text" name="email" placeholder="CORREO ELECTRÓNICO">
			<input type="password" name="password" placeholder="CONTRASEÑA">
			{{!-- <input type="password" name="passwd_again" placeholder="CONFIRMA TU CONTRASEÑA"> --}}
			<input type="submit" name="enviar" value="Iniciar sesión">
		</form>
		<a class="login_button" data-provider="facebook">FACEBOOK LOGIN</a>
		<form id="register_form" class="hidden">
			<input type="text" name="email" placeholder="CORREO ELECTRÓNICO">
			<input type="password" name="passwd" placeholder="CONTRASEÑA">
			<input type="password" name="passwd_again" placeholder="CONFIRMA TU CONTRASEÑA">
			<input type="submit" name="enviar" value="REGISTRARME">
		</form>
	</section>
	{{> loader}}