
{{> header}}
{{> sidemenu}}

<section class="podcast first-section">
	<div class="pod-img">
		<img src="images/5.png">
		<span>EL PODCAST DE<br>JORDI SOLER</span>
	</div>
	<div class="pod-info">
		<div class="encabezado">EL PODCAST DE JORDI SOLER</div>
		<div class="autor">POR: JORDI SOLER</div>
		<a class="botonero activo" href="#">SHUFFLE</a>
		<a class="botonero" href="#">COMPARTIR</a>
	</div>
	<ul class="playlist">
		<li>
			<div class="episodio"><span>1</span> EP01 - BIENVENIDOS</div>
			<div class="tiempo">4:29</div>
		</li>
		<li>
			<div class="episodio"><span>2</span> EP02 - BIENVENIDOS</div>
			<div class="tiempo">4:29</div>
		</li>
		<li>
			<div class="episodio"><span>3</span> EP03 - BIENVENIDOS</div>
			<div class="tiempo">4:29</div>
		</li>
		<li>
			<div class="episodio"><span>4</span> EP04 - BIENVENIDOS</div>
			<div class="tiempo">4:29</div>
		</li>
		<li>
			<div class="episodio"><span>5</span> EP05 - BIENVENIDOS</div>
			<div class="tiempo">4:29</div>
		</li>
		<li>
			<div class="episodio"><span>6</span> EP06 - BIENVENIDOS</div>
			<div class="tiempo">4:29</div>
		</li>
		<li>
			<div class="episodio"><span>7</span> EP07 - BIENVENIDOS</div>
			<div class="tiempo">4:29</div>
		</li>
		<li>
			<div class="episodio"><span>8</span> EP08 - BIENVENIDOS</div>
			<div class="tiempo">4:29</div>
		</li>
		<li>
			<div class="episodio"><span>9</span> EP09 - BIENVENIDOS</div>
			<div class="tiempo">4:29</div>
		</li>
	</ul>
</section>